@font-face {
    font-family: "open sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
}

.main-image {
    float: left;
    height: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
    flex-grow: 2;
    position: relative;
    background-image: url("https://netigate.se/services/web/images/Kunden-30.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #63a1de;
    background-blend-mode: multiply;
}

.main-image:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-image: radial-gradient(ellipse farthest-side at 100% 100%, rgba(209, 232, 255, 0.41) 5%, rgba(128, 153, 178, 0.35) 50%, rgba(11, 38, 66, 0.66) 110%);
}

.left-container {
    padding-right: 425px;
    height: 100%;
}

.headline {
    color: #ffffff;
    font-size: 4em;
    font-weight: normal;
}

.left-row {
    margin: 30% 11% 0;
    z-index: 10;
    position: relative;
}

.left-container-btn {
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    width: 365px;
    margin: 0 2% 2% 0;
}

.left-container-btn-fill {
    background-color: #ffffff;
    color: #1795ca;
}

.left-container-btn:hover {
    color: #ffffff;
    background-color: #1795ca;
    border-color: #1795ca;
}

.right-container {
    width: 425px;
    float: right;
    height: 100%;
    overflow: hidden;
    display: block;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.form {
    margin: 56% auto 0;
    width: 70%;
    text-align: center;
}

input {
    height: 23px;
    width: 95%;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #cfced0;
    background: none;
    outline: none;
    color: #63a1de;
    padding-left: 5%;
    font-size: 1em;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #63a1de;
}

input:focus + label,
input:valid + label {
    color: #63a1de;
    animation: uplabel 0.2s ease-out;
    -webkit-animation: uplabel 0.2s ease-out;
    -moz-animation: uplabel 0.2s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.submit {
    width: 93%;
    height: 40px;
    background: #63a1de;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

input + label {
    height: 23px;
    display: block;
    margin-top: -25px;
    text-align: left;
    margin-left: 14px;
    color: #cfced0;
    position: relative;
    cursor: text;
}

input + label > span {
    position: absolute;
    top: 0;

}

@keyframes uplabel {
    from {
        top: 0;
    }

    to {
        top: -20px;
    }
}

@-webkit-keyframes uplabel {
    from {
        top: 0;
    }

    to {
        top: -20px;
    }
}

.submit:hover {
    background-color: #005fb2;
}

button:hover, .forget-password:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 50px;
}

.logo img {
    width: 100%;
}

.new-account {
    color: #cfced0;
    font-size: 0.75em;
    margin-top: 8px;
}

.forget-password {
    color: #cfced0;
    font-size: 0.75em;
    margin: 30px 0;
    text-align: left;
}

.new-account-create {
    color: #63a1de;
    text-decoration: none;
}

.error-message {
    color: #ae1716;
    font-size: 0.75em;
    background: #ffcbcb;
    padding: 5px 0;
    border: 1px solid #ae1716;
    border-radius: 3px;
    display: none;
}

.form.error .error-message {
    display: block;
}

@media (max-width: 768px) {

    .main-image {
        float: right;
    }

    .right-container {
        top: 0;
        height: 100%;
    }

    .left-container {
        position: absolute;
        bottom: 0;
        padding-right: 0;

    }

    .left-container, .right-container {
        width: 100%;
        height: auto;
        position: static;
        padding-bottom: 50px;
    }

    .main-image {
        padding-bottom: 50px;
    }

    .form {
        margin: 7% auto 0;
    }

    .left-row {
        margin: 10% 11% 0;
    }

    .headline {
        font-size: 3em;
    }

    .left-container-btn {
        width: 100%;
    }
}

/* ----------------------------------- Templates page ------------------------------------------------*/

.templates {
    background-color: #f4f6f9;

}

.templates-body {
    background-blend-mode: multiply;
    overflow: hidden;
}

.templates-logo {
    height: 65px;
    margin-top: 25px;
    margin-left: 25px;
}

.templates-list {
    width: 100%;
    max-height: 80%;
    margin: 10% 0 0 0;
    background-color: #63a1de;
    padding: 1% 5%;
    text-align: center;
    overflow-y: auto;
}

.templates-item {
    width: 213px;
    height: 270px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 32px;
    display: inline-block;
    margin: 1%;
}

.templates-item:hover {
    cursor: pointer;
    background-color: #f4f6f9;
}

.templates-item-img {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

.templates-item-img img {
    height: 100%;
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
}

.templates-item-name {
    font-size: 1.2em;
    color: #63a1de;
    margin-top: 25px;

}

.template-info {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #63a1de;
    overflow: hidden;
    padding-bottom: 80px;
}

.template-left-container {
    width: 485px;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.template-left-container_header {
    position: relative;
    height: 80px;
    background: #ffffff;
}

.prev_icon {
    background-color: #63a1de;
    height: 100%;
    width: 80px;
    display: inline-block;
}

.prev_icon:after {
    content: "";
    display: inline-block;
    width: 100%;
    background: url(../images/Icon-arrow-left-white.png);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.prev_icon:hover {
    cursor: pointer;
}

.items-list {
    overflow-y: auto;
    height: 100%;
    position: inherit;
    padding: 30px 58px;
}

.items-list .templates-item {
    width: 162px;
    height: 207px;
    margin-bottom: 20px;
    margin-right: 0;
    border: 3px solid #ffffff;
}

.items-list .templates-item:nth-child(2n+1) {
    margin: 0 20px 0 0;
}

.items-list .templates-item-img {
    height: 95px;
    width: 95px;
}

.items-list .templates-item-name {
    font-size: 0.8em;
    margin-top: 20px;
}

.template_name {
    display: inline-block;
    padding: 21px;
    position: absolute;
    font-size: 1.9em;
}

.template-right-container {
    margin-left: 485px;
    border-left: 2px solid #63a1de;
    background: #ffffff;
    position: inherit;
    height: 100%;
    width: 100%;
    padding-right: 485px;
}

.template-right-container_header {
    position: relative;
    height: 80px;
    background: #ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a {
    border-radius: 0;
    margin: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 1px solid #63a1de;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #63a1de;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a {
    background-color: #63a1de;
    border: 1px solid #63a1de;
    margin: 0 1px;
}

.tab-content > .active {
    padding: 5%;
}

.items-list .templates-item.active_item {
    border: 3px solid rgb(51, 122, 183);
}

.preview-image img {
    object-fit: contain;
    width: 300px;
}

@media (max-width: 768px) {
    .templates-body {
        overflow: visible;

    }

    .template-info {
        padding: 0;
        height: auto;
        overflow: visible;
    }

    .template-left-container {
        float: none;
        width: 100%;
        height: 50%;
        overflow: hidden;
        padding-bottom: 80px;
    }

    .items-list {
        text-align: center;
        padding: 30px 0;
    }

    .template-right-container {
        position: absolute;
        margin: 0;
        height: 50%;
        width: 100%;
        padding: 0;
        top: 50%;
        border: none;
    }

    .items-list .templates-item:nth-child(2n+1) {
        margin: 1%;
    }

    .items-list .templates-item {
        margin: 1%;
        width: 145px;
        height: 185px;
    }

    .template_name {
        font-size: 1.6em;
    }

    .templates-item-name {
        font-size: 0.9em;
    }

    .templates-item {
        width: 170px;
        height: 220px;
        padding: 22px;
    }

    .templates-list {
        padding: 1% 2%;
    }
}