@font-face {
    font-family: "open sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
}
main {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: flex-start;*/
    /*align-content: stretch;*/
    /*flex-wrap: nowrap;*/
    /*height: 100%;*/
}

.main-image {
    float: left;
    height: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
    flex-grow: 2;
    background-image: url("https://netigate.se/services/web/images/Kunden-30.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #63a1de;
    background-blend-mode: multiply;
}
.left-container {
    padding-right: 425px;
    height: 100%;
}
.headline {
    color: #ffffff;
    font-size: 4em;
    font-weight: normal;
}
.left-row {
    margin: 30% 11% 0;
}

.left-container-btn {
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;

    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    width: 365px;
    margin: 0 2% 2% 0;
}

.left-container-btn:hover {
    color: #ffffff;
    background-color: #1795ca;
    border-color: #1795ca;
}


.right-container {
    width: 425px;
    float: right;
    height: 100%;
    overflow: hidden;
    display: block;
    background-color: #ffffff;
    position: absolute;
    right:0;
    top:0;
}

.form {
    margin: 56% auto 0;
    width: 70%;
    text-align: center;
}

input {
    height: 23px;
    width: 95%;
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #cfced0;
    background: none;
    outline: none;
    color: #63a1de;
    padding-left: 5%;
    font-size: 1em;
}

input:-moz-placeholder {
    color: #cfced0;
}

input::-webkit-input-placeholder {
    color: #cfced0;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #63a1de;
}

.submit {
    width: 93%;
    height: 40px;
    background: #63a1de;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

.submit:hover {
    background-color: #005fb2;
}

button:hover, .forget-password:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 50px;
}

.logo img {
    width: 100%;
}

.new-account {
    color: #cfced0;
    font-size: 0.75em;
    margin-top: 8px;
}

.forget-password {
    color: #cfced0;
    font-size: 0.75em;
    margin: 30px 0;
    text-align: left;
}

.new-account-create {
    color: #63a1de;
    text-decoration: none;
}

@media (max-width: 768px) {

    .main-image {
        float: right;
    }
    .right-container {
       top: 0;
        height: 100%;
    }
    .left-container {
        position: absolute;
        bottom: 0;
        padding-right: 0;

    }
    .left-container, .right-container {
        width: 100%;
        height: auto;
        position: static;
        padding-bottom: 50px;
    }
    .main-image{
                padding-bottom: 50px;

    }
    .form {
        margin: 7% auto 0;
    }
    .left-row {
        margin: 10% 11% 0;
    }
    .headline {
        font-size: 3em;
    }
    .left-container-btn {
        width: 100%;
    }
}

